<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pvofunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9edcb250-9f03-40d4-8be0-e3a46bfe86c6/resourceGroups/cloud-project-rg/providers/Microsoft.Web/sites/PvoFunction</ResourceId>
    <UserName>$PvoFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://pvofunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>